body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* About me section */

.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 20px 0;
  color: #000;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
  color: #000;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My projects section */

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-brackets {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* My Work Expierence section */

.my-work-experience-section {
}

.my-work-experience-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-work-experience-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.my-work-experience-pipe {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-company-block {
  margin: 0 0 15px 0;
}

/* My Education section */

.my-education-section {
  margin: 0 0 50px 0;
}

.my-education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-education-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.my-education-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/* Sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}

.contact-section,
.tech-skils-section {
  margin: 50px 0px 0px 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contact section */

.contact-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contact-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}

/* Tech Skills section */

.tech-skils-list {
  padding: 0 0 0 15px;
}

.tech-skils-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.tech-skils-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft Skills section */

.soft-skills-list {
  padding: 0 0 0 15px;
}

.soft-skills-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.soft-skils-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
